@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: linear-gradient(135deg, #5ddcff, #00a1cb, #007acc);
        font-family: Arial, sans-serif;
    }

    body > footer {
        background: white;
    }

    .forgot-password-container {
        max-width: 700px;
        margin: 100px auto;
        background: white;
        padding: 40px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .forgot-password-container h1,
    .forgot-password-container h2 {
        color: #005f8d;
        font-weight: bold;
    }

    .form-floating .form-control {
        border-radius: 10px;
    }

    .btn-primary {
        background-color: #005f8d;
        border-color: #4db6ac;
    }

    .btn-primary:hover {
        background-color: #00a1cb;
    }
</style>

<div class="forgot-password-container">
    <h1>@ViewData["Title"]</h1>
    <h2>Enter your email.</h2>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
